@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap");
@import "tailwindcss";

* {
  font-family: "Quicksand", sans-serif;
  scroll-behavior: smooth;
}

@theme {
  --color-primary: #704f35;
  --color-secondary: #1f2029;
  --color-accent: #eee5db;
  --color-text-secondary: #747474;
}
